Repository ykyki/extop-tex, pull requests merged in 2022-11, with the labels that each got.

#183 引用方法についてのルールを記載
  documents/engelking/readme.md
Labels: 25-document, 12-engelking

#177 問題1-5-Aの証明を記述
  documents/engelking/1-5-A-proof.tex
Labels: 21-math, 12-engelking

#178 問題1.5.Bの証明を記述
  documents/engelking/1-5-B-proof.tex
Labels: 21-math, 12-engelking

#185 ツールを整理
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/compare.yml
  .vscode/settings.json
  Makefile
  outputs/.gitkeep
  products/list-commands-table.pdf
  tools/build.sh
Labels: 24-tool

#155 Feature/103 update doc first countable spaces
  documents/bibliography/miscellaneous.bib
  documents/bibliography/papers.bib
  documents/catalog/theories/first-countable-spaces.tex
  documents/catalog/theories/product-spaces.tex
Labels: 21-math, 11-catalog
