Repository ykyki/extop-tex, pull requests merged in 2022-03, with the labels that each got.

#117 PDFビルド用のGitHub Actionsを追加
  .github/workflows/latexmk.yml
Labels: 11-create, 24-tool

#118 ビルド用シェルスクリプトを更新
  tools/build-by-path.sh
  tools/build.sh
Labels: 13-update, 24-tool

#87 連結空間の積が連結になることの証明
  documents/catalog/theories/connected-spaces.tex
Labels: 13-update, 21-math

#123 テキスト校正ツールを導入
  .vscode/settings.json
  tools/node/.gitignore
  tools/node/.textlintrc.json
  tools/node/package-lock.json
  tools/node/package.json
  tools/node/prh.yml
Labels: 11-create, 24-tool
