Repository ykyki/extop-tex, pull requests merged in 2023-01, with the labels that each got.

#196 1-5-Cの証明がproof環境の外に書かれていたのを修正
  documents/engelking/1-5-C-proof.tex
Labels: 22-format, 12-engelking

#186 問題1.5.Dの記述を追加
  documents/engelking/1-5-D-problem.tex
  documents/engelking/list.tex
Labels: 21-math, 12-engelking

#188 Feature/20221204/characterization of t4
  documents/bibliography/miscellaneous.bib
  documents/catalog/theories/normal-spaces.tex
Labels: 21-math, 11-catalog

#195 問題リストをコメントとして追加
  documents/engelking/list.tex
Labels: 22-format, 12-engelking
